<footer><ul>
      <li class="alignleft">©2017 - <a href="https://github.com/nifisher">github.com/nifisher</a></li>
      <li class="alignleft"><a href="/sitemap.xml">.sitemap</a></li>
      <li class="alignleft"><a href="/atom.xml">.atom/.rss</a></li>
      <!-- the alignment trick with the class doesn't quite work right, but it works acceptably, so keeping it -->
      <li class="alignright">Based  on <a href="https://github.com/dyutibarma/monochrome">Monochrome</a></li>
      <li class="alignright"><a href="/LICENSE.html">License</a></li>
    </ul>
    <!-- clear alignment -->
    <div style="clear:both;"></div>
</footer>
