---
layout: default
title: ".résumé"
description: "Résumé"     
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2017-03-22
---
        <h1>{{ page.title }}</h1>
        <ul class="posts">
        <li><h2>.professional</h2>
        <ul class="posts">
           {% assign sorted_pages = site.pages | sort:"name" %}
           {% for page in sorted_pages reversed %}
               {% if page.category == "professional" and page.career.current == true and page.published == true %}
               <li>
               <h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
					  	{{ page.description }}
               </li>
               {% endif %}
            {% endfor %}
           {% for page in sorted_pages reversed %}
               {% if page.category == "professional" and page.published == true %}
               <li>
               <h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
					  	{{ page.description }}
               </li>
               {% endif %}
            {% endfor %}
        </ul>
          </li>
        <li><h2>.education</h2>
        <ul class="posts">
           {% assign sorted_pages = site.pages | sort:"name" %}
           {% for page in sorted_pages reversed %}
               {% if page.category == "education" and page.published == true %}
               <li>
               <h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
					  	{{ page.description }}
               </li>
               {% endif %}
            {% endfor %}
        </ul>
               </li>
        </ul>
        <p>&nbsp </p>
