---
layout: default
title: ".résumé"
description: "Résumé"     
---
        <h1>{{ page.title }}</h1>
        <ul class="posts">
        <li><h2>.professional</h2>
        <ul class="posts">
           {% for page in site.pages %}
               {% if page.category == 'professional' and page.publish == 'true' %}
               <li>
               <p><h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
					  	{{ post.excerpt }}
               </p>
               </li>
               {% endif %}
            {% endfor %}
        </ul>
          </li>
        <li><h2>.education</h2>
        <ul class="posts">
           {% for page in site.pages %}
               {% if page.category == 'education' and page.publish == 'true' %}
               <li>
               <p><h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
					  	{{ post.excerpt }}
               </p>
               </li>
               {% endif %}
            {% endfor %}
        </ul>
               </li>
        </ul>
        <p>&nbsp </p>
