---
layout: default
title: ".résumé"
description: "Résumé"     
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2017-03-22
---
        <h1>{{ page.title }}</h1>
        <ul class="posts">
        <li><h2>.skills</h2>
        <ul class="posts">
               <li>
               <h2>.languages</a></h2>
		C, C++, Python, Java, Go, Shell Script, Makefile 
               </li>
               <li>
               <h2>.technologies</a></h2>
		 KVM, VMWare, Docker, SQL, LevelDB, Wireshark
               </li>
               <li>
               <h2>.communication protocols</a></h2>
		IP, TCP, UDP, JSON, HTML/XML, Markdown Incom, Modbus, ProtoBuf, SS7, GTT/SCCP, E.164 ENUM, DNS, TFTP, 802.1Q VLAN, ICMP
               </li>
               <li>
               <h2>.operating systems</a></h2>
		 Linux, IBM AIX, Oracle Solaris, UEFI BIOS, Microsoft Windows, WindRiver VxWorks
               </li>
        </ul>
          </li>
        <li><h2>.professional</h2>
        <ul class="posts">
           {% assign sorted_pages = site.pages | sort:"name" %}
           {% for page in sorted_pages reversed %}
               {% if page.category == "resume.professional" and page.published == true %}
               <li>
               <h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
					  	{{ page.description }}
               </li>
               {% endif %}
            {% endfor %}
        </ul>
          </li>
        <li><h2>.education</h2>
        <ul class="posts">
           {% assign sorted_pages = site.pages | sort:"name" %}
           {% for page in sorted_pages reversed %}
               {% if page.category == "resume.education" and page.published == true %}
               <li>
               <h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
					  	{{ page.description }}
               </li>
               {% endif %}
            {% endfor %}
        </ul>
               </li>
        </ul>
        <p>&nbsp </p>
