<!DOCTYPE html>
        <html>
                <head>
                   <title>{%if page.title %}{{ site.title }}: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
                   <meta name="description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
                   <!-- link to main stylesheet -->
                   <link rel="stylesheet" type="text/css" href="/css/main.css">
                   <!-- google code prettify http://google-code-prettify.googlecode.com -->
                   <link href="/css/desert.css" type="text/css" rel="stylesheet" />
                   <script type="text/javascript" src="/js/prettify.js"></script>
                   <!-- I really only need to add prettyPrint() to the onload function in the body
                      but this will force github to use prettyprint as the highliter and turn on
                      line numbers, so going this route for now -->
                   <script type="text/javascript">
                   function loadPrettyPrint() {
                       [].forEach.call(document.getElementsByTagName("pre"), function(el) {
                        el.classList.add("prettyprint");
                       });
                       prettyPrint();
                   }
                   </script>
                </head>
                <body onload="loadPrettyPrint()">
                        <nav>
                        <ul>
									<li><a href="/">.home</a></li>
									<li><a href="/about">.about</a></li>
									<li><a href="/resume">.résumé</a></li>
									<li><a href="/projects">.projects</a></li>
									<li><a href="/plan">.plan</a></li>
                        </ul>
                        </nav>
                        <div class="container">
                        
                           <h1>{{ page.title }}</h1>
                           <p class="meta">{{ page.date | date_to_string }}</p>

                           <div class="post">
                              {{ content }}
                           </div>
                        
                        </div><!-- /.container -->

                        <div> <!-- Footer -->
                               {% include footer.html %}
                        </div>
                </body>
        </html>
