<!DOCTYPE html>
        <html>
                <head>
                   <title>{{ site.title }}: {{ page.title }}</title>
                        <!-- link to main stylesheet -->
                        <link rel="stylesheet" type="text/css" href="/css/main.css">
                </head>
                <body>
                        <nav>
                        <ul>
									<li><a href="/">.home</a></li>
									<li><a href="/about">.about</a></li>
									<li><a href="/resume">.résumé</a></li>
									<li><a href="/projects">.projects</a></li>
									<li><a href="/plan">.plan</a></li>
                        </ul>
                        </nav>
                        <div class="container">
                        
                           {{ content }}
                        
                        </div><!-- /.container -->

                        <div> <!-- Footer -->
                               {% include footer.html %}
                        </div>
                </body>
        </html>
